<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Geek</title>
</head>
<body ng-controller="HomeCtrl">
	<section>


		<h3 class="text-center text-success">Bienvenue sur le site des
			Geeks</h3>

	</section>
	<br>
	<br>

	<section>
		<p class="text-center">Trouvez votre âme soeur parmi l'ensemble
			des Geeks</p>
	</section>
	<marquee align="center" height="350" scrolldelay="1" scrollamount="15"
		onmouseout="this.start()" onmouseover="this.stop()">
		<p>
			<img border="0" src="/img/alex.jpg" alt="" hspace="0"><img
				border="0" src="/img/femme.png" alt="" hspace="0"><img
				border="0" src="/img/homme.png" alt="" hspace="0"><img
				border="0" src="/img/geek.gif" alt="" hspace="0"><img
				border="0" src="/img/marie.jpg" alt="" hspace="0"><img
				border="0" src="/img/pierre.jpg" alt="" hspace="0"><img
				border="0" src="/img/alex.jpg" alt="" hspace="0"><img
				border="0" src="/img/maroua.jpg" alt="" hspace="0"><img
				border="0" src="/img/marie.jpg" alt="" hspace="0"><img
				border="0" src="/img/homme.png" alt="" hspace="0"><img
				border="0" src="/img/alex.jpg" alt="" hspace="0"><img
				border="0" src="/img/homme.png" alt="" hspace="0"><img
				border="0" src="/img/geek.gif" alt="" hspace="0"><img
				border="0" src="/img/marie.jpg" alt="" hspace="0"><img
				border="0" src="/img/pierre.jpg" alt="" hspace="0"><img
				border="0" src="/img/alex.jpg" alt="" hspace="0"><img
				border="0" src="/img/maroua.jpg" alt="" hspace="0"><img
				border="0" src="/img/marie.jpg" alt="" hspace="0"><img
				border="0" src="/img/homme.png" alt="" hspace="0"><img
				border="0" src="/img/alex.jpg" alt="" hspace="0">
		</p>
	</marquee>
</body>
</html>



<script>
	$('img').tooltip();
</script>

