<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Geek</title>
</head>
<body ng-controller="HomeCtrl">
	<h1 style="text-align: center;">Profil détaillé du Geek</h1>
	<br>
	<br>
	<table class="table table-striped table-hover text-center">
		<tr>
			<td><img src="{{ LeGeek.urlGravatar }}" alt="{{ LeGeek.sexe}}"
				class="img-thumbnail"
				style="width: 200px; height: 200px; text-align: center;" /></td>
		</tr>

		<tr>
			<td>ID : {{ LeGeek.id }}</td>
		</tr>
		<tr>
			<td>Nom : {{ LeGeek.nom }}</td>
		</tr>
		<tr>
			<td>Prenom : {{LeGeek.prenom }}</td>

		</tr>
		<tr>
			<td>Mail :{{ LeGeek.mail }}</td>
		</tr>
		<tr>
			<td>Interets : <a ng-repeat="interet in LeGeek.interets">{{
					interet.nom }} </td>
		</tr>
	</table>

</body>
</html>